bin/server
bin/client
obj/*.o
obj/cli/*.o
obj/cli/args/*.o
obj/srv/*.o
obj/srv/args/*.o

inc/cli/args/args.h
inc/srv/args/args.h

src/cli/args/args.c
src/srv/args/args.c

logs/*

server_logs.txt
client_logs.txt

.vscode/*
